body {
    background-color: rgb(241, 241, 241);
}

.btn-primary{
    background-color: rgb(153, 229, 218);
    border-color: rgb(153, 229, 218);
}

.btn-outline-secondary{
    background-color: white;
}

.col > .card{
 height: 300px;
 border: rgb(153, 229, 218);
}

h2 {
    border-bottom: rgb(224, 172, 181) solid 1px;
}

.p-2 > img {
    border-radius: 10px;
    /* border: rgb(247, 239, 254) solid 10px; */
    box-shadow: 3px 3px 5px rgb(220, 220, 220);
}

#about{
    padding: 40px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(220, 220, 220);
}

#interests{
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(220, 220, 220);
}

